.theme-dark {
    background-color: #202c32;
    color: #eceff1;
}

body {
    margin: auto;
    max-width: 800px;
    padding: 16px;
    font-family: 'Bitter', monospace;
    font-size: 18px;
    background-color: #fefefe;
    color: #202c32;
}

p {
    line-height: 1.4em;
}

a {
    color: #202c32;
}
a:visited {
    color: #455a64;
}
a:hover {
    color: #37474f;
}
a:active {
    color: #546e7a;
}

.theme-dark a {
    color: #eceff1;
}
.theme-dark a:visited {
    color: #b0bec5;
}
.theme-dark a:hover {
    color: #cfd8dc;
}
.theme-dark a:active {
    color: #90a4ae;
}

.icon-well {
    background: #fefefe;
    padding-top: 8px;
    padding-bottom: 4px;
    border-radius: 3px;
    text-align: center;
}

.icon-well * {
    margin-left: 3px;
    margin-right: 3px;
}

button {
    background-color: #37474f;
    color: #eceff1;
    font-family: 'Bitter', monospace;
    font-size: 13px;
    font-weight: 700;
    padding: 8px;
    border: 0;
    border-radius: 3px;
}

button:hover {
    background-color: #455a64;
}

button:active {
    background-color: #323f46;
}