body {
    margin: auto;
    max-width: 800px;
    padding: 16px;
    font-family: 'Bitter', monospace;
    background-color: white;
    color: #202c32;
}

.theme-dark {
    background-color: #202c32;
    color: #eceff1;
}

a {
    color: #202c32;
}
.theme-dark a {
    color: #eceff1;
}

a:visited {
    color: #455a64;
}
.theme-dark a:visited {
    color: #b0bec5;
}

a:hover {
    color: #37474f;
}
.theme-dark a:hover {
    color: #cfd8dc;
}

a:active {
    color: #546e7a;
}
.theme-dark a:active {
    color: #90a4ae;
}

.icon-well {
    background: white;
    padding-top: 8px;
    padding-bottom: 4px;
    border-radius: 3px;
    text-align: center;
}

.icon-well * {
    margin-left: 3px;
    margin-right: 3px;
}

button {
    background-color: #37474f;
    color: #eceff1;
    font-family: 'Bitter', monospace;
    font-size: 13px;
    font-weight: 700;
    padding: 8px;
    border: 0;
    border-radius: 3px;
}